.dropzone {
  margin: 8px 0 !important;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-style: dashed;
  background-color: inherit;
  outline: none;
  transition: border 0.24s ease-in-out;
}
