.bigAvatar {
  width: 80px !important;
  height: 80px !important;
  display: inline;
}

.dialogImage {
  object-fit: scale-down;
  max-width: 100%;
  max-height: 100%;
}

.cameraList {
  height: 100%;
}

.closeButton {
  position: absolute !important;
  right: 10px;
  top: 10px;
  background-color: #000 !important;
  color: #fff !important;
}

.listItem {
  padding-bottom: 30px !important;
}

.listPeople > div:first-child {
  padding-top: 0 !important;
}

.listItemText {
  position: absolute;
  bottom: 0;
}
